<div class="footer">
  <div class="main-div">
  <div class="main-impressum">
    <span (click)="scrollToAllAbove()">Me<span class="color-s">s</span>ro<span class="color-m">p</span></span>
    <a class="impressum" href="impressum"><span class="impressum-span">Impres</span>sum</a>
  </div>
  <div>
    <span class="created-info">© Mesrop Hakobyan 2024</span>
  </div>
  <div class="main-image-box">
            <a href="https://github.com/Hakobyan1994" target="_blank">
      <img class="social-image" src="./assets/logo/github.png">
    </a>
    <a href="mailto:mesrop.hakobyan@web.de"> <img class="social-image" src="./assets/logo/email.png"></a>
    <a href="https://www.linkedin.com/in/mesrop-hakobyan-a6b2322a1/" target="_blank">
      <img class="social-image" src="./assets/logo/linkdin.png">
    </a>
  </div>
  <div class="second-impressum">
    <a  href="impressum"><span class="impressum-span">Impres</span>sum</a>
  </div>
</div>
</div>
