.footer {
    padding: 0 100px;
    height: 240px;
    background-color: #141D2F;
    z-index: 10;
    border-top: 4px solid #70E61C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}     


.main-div{
    width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-impressum {
    display: flex;
    flex-direction: column;

    span {
        color: white;
        font-size: 46px;
        cursor: pointer !important;
        letter-spacing: 2px;
    }

    a {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #FFFFFF;
        cursor: pointer;
    }
}

.impressum-span {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 19px !important;
    letter-spacing: 0 !important;


    &:hover {
        cursor: default !important;
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 2px;
        cursor: pointer;
        text-decoration-color: #70E61C;

    }
}

.color-s {
    color: #9747FF !important;
}

.color-m {
    color: #70E61C !important;
}

.created-info {
    font-size: 23px;
    color: #FFFFFF;
    line-height: 27.6px;
    font-weight: 400;
    cursor: pointer;
}

.main-image-box {
    display: flex;
    gap: 30px;

    img {
        &:hover {
            transform: scale(1.3);
            transition: transform 75ms ease-out;
        }
    }
}

.second-impressum {
    display: none;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 10px;
   

    >a {
        color: #FFFFFF;
        cursor: pointer;
    }

    .impressum-span {
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 19px !important;
        letter-spacing: 0 !important;
        cursor: pointer;
        &:hover {
            cursor: default !important;
            text-decoration: underline;
            text-underline-offset: 7px;
            text-decoration-thickness: 2px;
            cursor: pointer !important;
            text-decoration-color: #70E61C;
        }
    }
}

@media(max-width:916px) {
    .main-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .impressum {
        display: none;
    }

    .second-impressum {
        display: flex;
    }
}

@media(max-width:520px) {
    .created-info {
        font-size: 16px;
    }
}

@media(max-width:425px){
    .created-info{
        font-size: 13px;
    }
}