<div  class="main-div">
    <div  data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="1000"  class="title">
        <div class="line-div"></div>
        <h1 >Portfolio</h1>
        <div class="big-line-div"></div>
    </div>
    <div  class="portfolio-info">
        <p >{{'Portfoli_Info' | translate}}</p>
    </div>
     <app-coderr-portfolio></app-coderr-portfolio>
     <app-videoflix-portfolio></app-videoflix-portfolio>
     <app-join-portfolio></app-join-portfolio>
     <app-elpololoco-portfolio></app-elpololoco-portfolio>
     <!-- <app-dabubble-portfolio></app-dabubble-portfolio> -->
</div> 


