<div class="bubble-main-info">
    <div class="picture-box">
        <img src="../assets/projekt_image/dabubble.png" alt="">
    </div>
    <div class="bubble-info">
        <h3>Da Bubble</h3>
        <span>Angular | TypeScript | Firebases</span>
        <p>This App is a Slack Clone App. It revolutionizes team communication and collaboration with its intuitive
            interface, real-time messaging, and robust channel organization. </p>
        <div class="main-button-box">
            <div class="live-test">
                <a href="">Live Test</a>
            </div>
            <div class="git-test">
                <a href="">Github</a>
            </div>
        </div>
    </div>
</div>