<div class="main-div">
     <div class="nav-bar"> 
   <app-nav-bar></app-nav-bar>
     </div> 
    <app-personal-content></app-personal-content>
    <app-personal-info id="personalInfo"></app-personal-info>
    <app-skill-content id="skilInfo"></app-skill-content>
    <app-portfolio-content id="portfolioInfo"></app-portfolio-content>
    <app-contact-content id="contact"></app-contact-content>
    <div class="image-box">
        <div class="background-image"></div>
    </div>
    <app-footer></app-footer>
</div>