<div  data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="500"  class="main-join-info">
    <div class="picture-box">
        <img src="../assets/projekt_image/join.png" alt="">
    </div>
    <div class="join-info">
        <h3>Join</h3>
        <span> JavaScript | HTML | CSS | Django </span>
        <p>{{'Join_Info'|translate}} </p>
        <div class="main-button-box">
            <a class="live-test" href="https://my-join-app.com/index.html" target="_blank"> Live Test</a>
            <a class="github-button" href="https://github.com/Hakobyan1994/Backend_Join" target="_blank">Github </a>
        </div>
    </div>
</div> 
<!-- data-aos="flip-right" -->