<div data-aos="fade-up"
data-aos-duration="500" class="main-elpololoco-info">
    <div class="elpololoco-info">
        <h3>El Pollo Loco</h3>
        <span > JavaScript | HTML | CSS</span>
        <p>{{'El_Pollo_Loco_Info' | translate}}</p>
        <div class="main-button-box">
                <a class="live-test" href="https://el-pollo-loco-game.com/El-Pollo-Loco.html" target="_blank">Live Test</a>
                <a class="github-button" href="http://github.com/Hakobyan1994/El-Pollo-Loco" target="_blank">Github</a>
        </div>
    </div>
    <div class="picture-box">
        <img  src="../assets/projekt_image/pollo loco.png">
    </div>
</div>  


<!-- data-aos="flip-left" -->