<app-nav-bar></app-nav-bar>

<div class='impressum'>

    <div class="aaa">
    <h1>Impressum</h1>
    <p>{{'Info_Impressum_Text'|translate}}</p>
    <p>Mersop Hakobyan <br>
        Adelbylund 38<br>
        24943 Flensburg <br>
    </p>
    <p> <strong>{{'Info_Impressum_Person'|translate}} </strong><br>
        Mersop Hakobyan<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        Telefon: +491634892590<br>
        E-Mail: <a class="email" href='mailto:mesrop.hakobyan@web.de'>mesrop.hakobyan&#64;web.de</a></p>
    {{'Info_Impressum_Generate'|translate}} <a class="impressum-info"
        href="https://www.impressum-generator.de">impressum-generator.de</a>
    
    </div>
</div>
<app-footer></app-footer>