<div id="mySkills" class="main-div">
    <div class="second-abstract">
        <div data-aos="zoom-in" class="second-info">
            <div class="second-skill-title">
                <h1>{{'My_Skills' | translate}}</h1>
            </div>
            <div>
                <div class="line-div"></div>
            </div>
        </div>
        <p class="abstract-text">{{'Expirience'|translate}}</p>
    </div>
    <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="main-skill">
        <div class="main-skill-info">
            <div class="logo-skill">
                <img src="./assets/skill-logo/html.png">
                <span>HTML</span>
            </div>
            <div class="logo-skill">
                <img src="./assets/skill-logo/css.png">
                <span>CSS</span>
            </div>
            <div class="logo-skill">
                <img src="./assets/skill-logo/javascript.png">
                <span>JavaScript</span>
            </div>
            <div class="logo-skill">
                <img src="./assets/skill-logo/typescript.png">
                <span>TypeScript</span>
            </div>

            <div class="logo-skill">
                <img src="./assets/skill-logo/angular.png">
                <span>Angular</span>
            </div>
            <div class="logo-skill">
                <img src="./assets/skill-logo/firebase.png">
                <span>Firebase</span>
            </div>
            <div class="logo-skill">
                <img src="./assets/skill-logo/git.png">
                <span>GIT</span>
            </div>
            <div class="logo-skill">
                <img src="./assets/skill-logo/api.png">
                <span>Rest-Api</span>
            </div>

            <div class="logo-skill">
                <img src="./assets/skill-logo/scrum.png">
                <span>Scrum</span>
            </div>
            <div class="logo-skill">
                <img src="./assets/skill-logo/material.png">
                <span class="text-center">Material<br>Design</span>
            </div>
            <div class="logo-skills">
                <div class="main-image">
                    <img class="framework-image" src="./assets/skill-logo/14. Icons.svg">
                    <span class="text-center color">Continually <br>learning</span>
                    <div class="image-hover">
                        <img src="./assets/skill-logo/capa.png">
                        <img class="framework-info-image" src="./assets/skill-logo/Group 18 (1).png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-skill-main">
        <div class="display" data-aos="zoom-in">
            <div class="my-skill-title">
                <h1>{{'My_Skills' | translate}}</h1>
            </div>
            <div class="line-div"></div>
        </div>
        <div class="text-info">
            <p class="p1">{{'Expirience_Info_First' | translate }} <br>
                <span class="right-align">{{'Expirience_Info_Second'| translate}}</span>
            </p>

            <div class="contact-info">
                <h2>{{'Other_Skill_Looking'|translate }} <span class="color">{{ 'Other_Skill' | translate}}</span></h2>
                <p class="p2">{{'Contact_Info'|translate}}<br>
                    <span>{{'Contact_Text'|translate}}</span>
                </p>
            </div>
            <div class="get-info">
                <a href="#contact" (click)="scrollToSection($event, 'contact')">{{'Button_Text'|translate}}</a>
            </div>
        </div>
    </div>
</div> 
<div  class="background-image"></div> 


   

