<div class="social-info">
    <div data-aos="fade-right"  class="social-icon">
        <div class="line-div"></div>
        <a href="https://github.com/Hakobyan1994" target="_blank">
            <img class="social-image" src="./assets/logo/github.png">
        </a>
        <a href="mailto:mesrop.hakobyan@web.de">
            <img class="social-image" src="./assets/logo/email.png">
        </a>
        <a href="https://www.linkedin.com/in/mesrop-hakobyan-a6b2322a1/" target="_blank">
            <img class="social-image" src="./assets/logo/linkdin.png">
        </a>
        <a class="email-info">mesrop.hakobyan&#64;web.de</a>
    </div>
  
</div>  
 
<div class="web-scroll-info">
    <span class="scroll-title">Scroll down</span>
    <img src="./assets/info_image/Vector (1).png">
</div>
