<div  data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="500"  class="main-videoflix-info">
    <div class="picture-box">
        <img src="../assets/projekt_image/videoflixx.png" alt="">
    </div>
    <div class="videoflix-info">
        <h3>Videoflix</h3>
        <span> JavaScript | HTML | CSS | Django | PostgreSQL | Redis </span>
        <p>{{'Videoflix_Info'|translate}} </p>
        <div class="main-button-box">
            <a class="live-test" href="https://vidoflix-app.com/" target="_blank"> Live Test</a>
            <a class="github-button" href="https://github.com/Hakobyan1994/Videoflix_Backend" target="_blank">Github </a>
        </div>
    </div>
</div> 
