<div  data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="500"  class="main-coderr-info">
    <div class="picture-box">
        <img src="../assets/projekt_image/codder.png" alt="">
    </div>
    <div class="coderr-info">
        <h3>Coderr</h3>
        <span> JavaScript | HTML | CSS | Django | PostgreSQL </span>
        <p>{{'Coderr_Info'|translate}} </p>
        <div class="main-button-box">
            <a class="live-test" href="https://coderr-app.com" target="_blank"> Live Test</a>
            <a class="github-button" href="https://github.com/Hakobyan1994/Coderr-Backend" target="_blank">Github </a>
        </div>
    </div>
</div> 
